body {
  background-color: white;
}
.test {
  height: 500px;
  width: 500px;
  position: relative;
  top: 20px;
  border: 3px solid black;

  font-size: 12px;
}
.test p {
  font-size: 4em;
}
.aaa {
  font-size: 12px;
}

/* background-image

background-color

background-position

background-repeat

background */
.flex {
  /* display: flex; */
}
.one {
  background-color: red;
  z-index: 3;
  display: inline;
}
.four {
  display: block;
  background-color: blue;
  width: 30px;
  flex-basis: 60px;
}
